.hero {
  background-color: black;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.heroText {
  max-width: 50%;
}

.heroText h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.heroText h4 {
  font-size: 1.3rem;
  font-weight: 400;
}

.heroImageWrapper {
max-width: 40%;
  display: flex;
  justify-content: flex-end; /* Push image to right */
  padding-right: 4rem; 


 
}

.heroImage {
  max-width: 120px;
  height: auto;
}

.heroContainer {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.textContent {
  color: white;
  font-family: 'Poppins', sans-serif;
  max-width: 60%;
}

.imageContent img {
  width: 200px;
  height: auto;
}
