.carouselWrapper {
  position: relative;
  width: 100%;
}

.navButton {
  position: absolute;
  top: 40%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  left: -15px;
}

.right {
  right: -15px;
}

.swiper {
  padding-left: 4px; /* adjust as needed */
}


.swiperSlide {
  width: auto;
  margin-right: 0;

}
