.section {
  margin: 24px 0;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.toggleButton {
  font-size: 14px;
  color: limegreen;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  padding: 0 16px;
}

.toggleText {
  color: #1dd75b; /* Green */
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.toggleText:hover {
  color: #17b34a; /* Slightly darker green on hover */
}